
<% if flash[:notice] %>
  <div id="flash_notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>
<%= link_to 'Edit',edit_book_path(@book) %>

<a href="/books">Back</a>
